body{
    background-color:#282b30;
    color:white;
}

h1{
    font-size: 36px;
    margin-block-end: 0px;
}

#swapModeButton:hover {
    background-color: #035b85;
    text-decoration: none;;
}

#swapModeButton:active {
    color: darkred;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.clickable:hover{
    cursor: pointer;
    text-decoration: underline;

    /* Prevent text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.prevent-selection{
    /* Prevent text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


/* Table settings */
#settings{
    /* border: 1px solid lightgrey; */
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    margin-bottom: 1em;
}

#settings h2{
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

#settings-content{
    display: none;
    padding-top: 1em;
    padding-bottom: 10em;
}

.settings-category{
    float: left;
    margin-left: 15px;
    margin-bottom: 1em;
    width: 10%;
}

#settings-singleSelects-table{
    width: 40%;
    float: right;
    margin-right: 100px;
    font-family: Verdana,sans-serif;
}

/* Table stuff */
#data-table{
    width:100%;
    text-align: center;
    padding-bottom: 1em;
    border-spacing: 0px;
}

#data-table tr{
    border-radius: 100px;
    height: 3.25em;

}

#data-table .even{
    background-color: #3b3f45;
}

#data-table th{
    padding-bottom: 0.5em;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #464a53;
    vertical-align: bottom;
}

#data-table .pretext{
    font-size: 12px;
    color: #c8cbd0;
}

#data-table td{
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    vertical-align: middle;
    color: #c8cbd0;
    font-family: Verdana,sans-serif;
}

#data-table .td-troopName{
    color:#e3e5e8;
}

.roleTD{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* mix-blend-mode: multiply; */
}

.role-Defense{
    background-image: url("./img/troop-icons/roles/defense.png");
}

.role-Offense{
    background-image: url("./img/troop-icons/roles/offense.png");
}

.role-Hybrid{
    background-image: url("./img/troop-icons/roles/hybrid.png");
}

.role-Scout{
    background-image: url("./img/troop-icons/roles/scout.png");
}

.role-Utility{
    background-image: url("./img/troop-icons/roles/utility.png");
}